@()

@main("hackathon") {

    <div class="container">
        <div class="row">
            <img class="logo img-responsive" src="@routes.Assets.at("images/logo.png")"/>
        </div>
        <div class="row team text-center">
        NoPlayNoGain Team
        </div>
        <div class="row">
            <div class="col-md-4 col-md-4">

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img class="profile-picture" src="@routes.Assets.at("images/teo.jpg")"/>
                <div class="name">
                    Teo Toplak
                </div>
                <div class="development">
                    front-end
                </div>
                <div class="about">
                    3. godina računarstva na FER-u. Iako sam na modulu Telekomunikacije i informatike da me stavite u kavez sa računalom i promatrate zaključili bi da se upravo najviše bavim programskim inženjerstvom. Kodiram sve što treba i što mi se čini zanimljivim - primarno web aplikacije, back-end, front-end, open-source, bilo kakvi projetki.
                </div>
                <div class="links">
                    <a class="social-link" href="https://github.com/finger-numb">
                        <img src="@routes.Assets.at("images/github.png")" />
                    </a>
                    <a class="social-link" href="https://www.linkedin.com/in/teo-toplak-89151594/">
                        <img src="@routes.Assets.at("images/linkedin.png")" />
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <img class="profile-picture" src="@routes.Assets.at("images/domagoj.jpg")"/>
                <div class="name">
                    Domagoj Penić
                </div>
                <div class="development">
                    back-end
                </div>
                <div class="about">
                    Student 4. godine računarstva na FER-u, smjer računarska znanost. Mlad i pouzdan, s prijašnjim iskustvom rada u timu te pri izradi pozadinskih servisa i ostvarenja komunikacije s bazama podataka. Orijentacija u izradi buducih aplikacija je takodjer u skladu s prijasnjim iskustvom.
                </div>
                <div class="links">
                    <a class="social-link" href="https://www.github.com/dpenic23">
                        <img src="@routes.Assets.at("images/github.png")" />
                    </a>
                    <a class="social-link" href="https://www.linkedin.com/in/domagoj-peni%C4%87-063421137/">
                        <img src="@routes.Assets.at("images/linkedin.png")" />
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <img class="profile-picture" src="@routes.Assets.at("images/hari.jpg")"/>
                <div class="name">
                    Hari Barić
                </div>
                <div class="development">
                    back-end
                </div>
                <div class="about">
                    Moje ime je Hari Barić, student sam 3. godine računarstva na FER-u, smjer računalno inženjerstvo.
                    Imam prijašnjeg iskustva pri timskom radu na web aplikacijama, te najčešće radim na backendu
                    i bazama podataka što je ujedno i moj fokus na ovom projektu.
                </div>
                <div class="links">
                    <a class="social-link" href="https://github.com/harkoslav">
                        <img src="@routes.Assets.at("images/github.png")" />
                    </a>
                    @*<a class="social-link" href="www.josko.com">*@
                        @*<img src="@routes.Assets.at("images/linkedin.png")" />*@
                    @*</a>*@
                </div>
            </div>
        </div>
    </div>
}
</div>